.btngroup {
    display: inline-flex;
    border: 1px solid var(--other-light, #DEE7EF);
    border-radius: 5px;
    overflow: hidden;
    margin: 12px 0px;
  }

  .btngroupactive{
    background-color: #004078 !important;
    color: #fff !important;
  }
  
  .btn {
    background-color: #fff;
    border: none;
    color: #333;
    padding: 8px 10px;
    cursor: pointer;
  }
  
  .btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .btn:not(:last-child) {
    border-right: 1px solid #ccc;
  }
  
  .formcolumn {
    margin: 10px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.125);
    flex: none;
  }

  .btn:hover {
    background-color: #ddd;
  }

  .nncontainer {
    display: flex;
    width: 445px;
    align-items: center;
    gap: 12px;
  }
  
  .nncontainer img {
    max-width: 100px;
  }

  .nncontainer .text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .nncontainer p {
    margin: 0;
    padding: 5px 0;
  }
  
  .nncontainer button {
    align-self: flex-end;
  }


.gridcontainer {
    display: grid;
    grid-template-columns: repeat(2, 445px);
    gap: 20px;
  }

  @media screen and (max-width: 768px) {
    .gridcontainer {
      display: grid;
      grid-template-columns: repeat(1, 445px);
      gap: 20px;
    }
    .btn {
      background-color: #fff;
      border: none;
      color: #333;
      padding: 5px 7px;
      cursor: pointer;
    }
    .formcolumn{
      flex: 1;
      width: 100%;
    }
    .nncontainer {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    .nncontainer img {
      max-width: 25%;
    }
    
  }

  .ftext{
    color: #004078;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 190%;
  }
  

  .customButtonsolid {
    padding: 8px 50px;
    background-color: #004078;
    color: #ffffff;
    border: 1px solid #004078;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .customButton {
  padding: 8px 40px;
  background-color: transparent;
  color: #004078;
  border: 1px solid #004078;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 10px;
}

.pagetitlecustom {
  font-family: "Montserrat-Bold";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.004em;
  color: #3c3c3b;
  text-align: center;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .formcolumn {
    padding: 2px;
    margin: 0;
    border: 0;
  }
}