.btngroup {
    display: inline-flex;
    border: 1px solid var(--other-light, #DEE7EF);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  
  .btngroupactive {
    background-color: #004078 !important;
    color: #fff !important;
  }
  
  .btn {
    background-color: #fff;
    border: none;
    color: #333;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .btn:not(:last-child) {
    border-right: 1px solid #ccc;
  }
  
  .formcolumn {
    margin: 10px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.125);
    flex: none;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .container {
    display: flex;
    width: 445px;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
  }
  
  .container img {
    max-width: 100px;
  }
  
  .container .text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .container p {
    margin: 0;
    padding: 5px 0;
  }
  
  .container button {
    align-self: flex-end;
  }
  
  
  .gridcontainer {
    display: grid;
    grid-template-columns: repeat(2, 445px);
    gap: 20px;
  }

  .totalContainerFavorite {
    margin: 6px;
  }

  .pagetitlecustomFavorite {
    font-family: "Montserrat-Bold";
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.004em;
    color: #3c3c3b;
    text-align: center;
    margin-top: auto;
  }
  
  @media screen and (max-width: 768px) {
    .pagetitlecustomFavorite {
      font-size: 17px;
      font-weight: bold;
      color: #000;
      text-align: left;
      margin-top: 0;
    }
    .gridcontainer {
      display: grid;
      grid-template-columns: repeat(1, 445px);
      gap: 20px;
    }
    .btn {
      background-color: #fff;
      border: none;
      color: #333;
      padding: 5px 7px;
      cursor: pointer;
    }
    .formcolumn{
      flex: 1;
      width: 100%;
    }
    .container {
      display: flex;
    width: 70%;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
    }

    
  }
  
  .ftext{
    color: #004078;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 190%;
  }
  
  
  .customButtonsolidFavorite {
    padding: 8px 30px;
    background-color: #004078;
    color: #ffffff;
    border: 1px solid #004078;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .customButtonFavorite {
  padding: 8px 40px;
  background-color: transparent;
  color: #004078;
  border: 1px solid #004078;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 10px;
  margin: 5px;
  }

  .pagetitlecustom {
    font-family: "Montserrat-Bold";
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.004em;
    color: #3c3c3b;
    text-align: center;
    margin-top: auto;
  }
  