.menusLink {
    display: none;
}

@media screen and (max-width: 768px) {

.menusLink {
    font-size: 12px;
    line-height: 30px;
    color: #474849;
    display: block;
}

a.LinkMenu {
    text-decoration: none;
    color: #000;
}

}