.container {
    display: flex;
    flex-wrap: wrap;
  }
  .sidebar {
    padding: 20px;
  }
  
  .containerCoupon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

    
  .formcolumn {
    margin: 10px;
    box-sizing: border-box; 
    padding: 20px;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
  
  }
  

  @media screen and (max-width: 768px) {
    .containerCoupon {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .formcolumn {
      padding: 2px;
      margin: 0;
      border: 0;
    }
  }
  
  .couponBox{
      margin: 10px;
      box-sizing: border-box;
      padding: 5px 25px;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgb(41 41 182 / 62%);
      border-radius: 5px;
  
  }

  .customButton {
    padding: 8px 50px;
    background-color: transparent;
    color: #004078;
    border: 1px solid #004078;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .textCenter{
    text-align: center!important;
  }

  .pagetitlecustom {
    font-family: "Montserrat-Bold";
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.004em;
    color: #3c3c3b;
    text-align: center;
    margin-top: auto;
  }
  

  

  
  

  
  
    